<h1>Pagina profesor</h1>

<div class="general">
  <div class="texto-1">
    <p>BIENVENIDO A SU PERFIL DE PROFESOR
    </p>
  </div>

      <div class="boton-1">
        <div class="btn btn-primary btn-lg">
         <%= link_to 'Registrar Operaria', operaria_path, :method=>"get" %>
        </div>
        </br>
        </br>
        <div class="btn btn-primary btn-lg">
         <%= link_to 'Asignacion linea', operacios_path, :method=>"get" %>
        </div> 
    </div>  
<div>   