<h1>Pagina principal Administrador</h1>
<div class="texto-1"
	<p> En este perfil podra hacer....................................................<br>
		............................<br>
		.........................<br>
		........................<br>
		........................<br>
		.......................<br>
		.........................<br>
		............................<br>
		............................
	</p>
</div>

    <div class="boton-1">
		<div class="btn btn-primary btn-lg">
		   <%= link_to 'Inicio', adminprincipals_path, :method=>"get" %>
		</div>
		</br>
		</br>
		<div class="btn btn-primary btn-lg">
		 <%= link_to 'Registrar Instructor', instructors_path, :method=>"get" %>
		</div>
		</br>
		</br>
		<div class="btn btn-primary btn-lg">
		 <%= link_to 'Registrar Operacion', operacios_path, :method=>"get" %>
		</div> 
	</div>	