<h1>Pagina principal Administrador</h1>
<div class="general">
	<div class="texto-1">
		<p>BIENVENIDO A SU PERFIL DE ADMINISTRADOR...
		  </br>
		  </br>
		  </br>
		  En este perfil usted podra hacer el ingreso de nuevos profesores, Podiendo asi verlos, modificarlos e eliminarlos segun tu criterio....</br>
		  </br>
		  _________________________________________________
		  </br>
		  </br>
		  Ademas tambien podra realizar el ingreso de todas las operaciones pertinentes para cada linea de produccion podiendo llevar asi un mejor seguimiento de estas entorno a su desarrollo.
		</p>
	</div>

	    <div class="boton-1">
			<div class="btn btn-primary btn-lg">
			   <%= link_to 'Inicio', adminprincipals_path, :method=>"get" %>
			</div>
			</br>
			</br>
			<div class="btn btn-primary btn-lg">
			 <%= link_to 'Registrar Instructor', instructors_path, :method=>"get" %>
			</div>
			</br>
			</br>
			<div class="btn btn-primary btn-lg">
			 <%= link_to 'Registrar Operacion', operacios_path, :method=>"get" %>
			</div> 
		</div>	
<div>		