<footer class="footer">
  <small>
  </br>
  </br>
    By Stiven Sanchez , Omar Salas...
    </br>
    </br> 
    Todos los derechos reservados © 2014 ::.
  </small>
  <nav>
    <ul>
      <li><a href="#">M&T</a></li>
    </ul>
  </nav>
</footer>
