<%# navigation styled for Bootstrap 3.0 %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="corporacion">
       <%= link_to 'M&TCorporation', root_path, class: 'navbar-brand' %>
      </div> 
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>

      <%# Buscador %>
    <form class="navbar-form navbar-left">
      <input class="form-control col-lg-8" placeholder="Buscar" type="text">
    </form>
    <div class="sing">
       <%= button_to 'Sing Up', operacios_path, :method=>"get" %>
      </div>
    </div>

  </div>
</nav>
